.menu {
  list-style: none;
  padding: 0;
  display: inline-block;
}
.menu> li {
  float: left;
  margin-right: 1em;
  margin-top: 2em;
}
.header{
  background-color:grey;
  text-align:center;
  border-style:solid;

}

img {
  max-width:100%;
}
body{
  font-family: 'RalewayRegular';
   font-weight: normal;
   font-style: normal;
}
.column1,
.column2,
.column3 {
  float: left;
  margin: 10px 10px 40px;
}
.column1 {
  width: calc(33.33333333% - 20px);
}
.column2 {
  width: calc(66.6666667% - 20px);
}
.wrap{
  margin:40px auto;
  width:100%;
  max-width:1000px;
}
p{
  max-width:350px;
}
.contact,form{
  float: left;
}
.boxes {
  margin-right: -10px;
}
.big-box,
.little-box {
  box-sizing: border-box;
  border:1px solid black;
  margin-right: 10px;
  padding: 20px;
}
.big-box {
  float:left;
  border:1px solid black;
  width: calc(66.66666667% - 10px);
  height: 300px;
}
.little-box {
  float:left;
  border:1px solid black;
  margin-bottom: 10px;
  width: calc(33.33333333% - 10px);
  height: 145px;
}
.project6 {
  background-color: grey;
  background-size: cover;
}
.project1{
  background-color: grey;
  background-size: cover;
}
.project2{
  background-color: grey;
  background-size: cover;
}
.project3{
  background-color: grey;
  background-size: cover;
}

.project7{
  background-image: url(../img/mussle.jpg);
  background-size:cover
}
.project8{
  background-image:url(../img/scallop.jpg);
  background-size:cover
}
.project9{
  background-image:url(../img/salad.jpg);
  background-size:cover
}
.project10{
  background-image:url(../img/lamb.jpg);
  background-size:cover
}
.project11{
  background-image:url(../img/fig.jpg);
  background-size:cover
}
.project12{
  background-image: url(../img/peach.jpg);
  background-size:cover
}
.title{
  text-align: center;
  text-decoration: none;
  color: black;
}
